body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
#left{
    background:lightgrey;
    float: left;
    width:100px;
    height:100%;
    padding:5px;
}
select{
    margin-bottom: 10px;
    width:50px;
}
#plansza{
    
    height: 100%;
    padding: 20px;
    position: relative;
    overflow: auto;
}
.hexagon{
    width:110px;
    height: 100px;
    background-size: 110px 100px;
    position: absolute;
}