*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    
}
#wrapper{
  height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}
#content{
    height:100%;
    overflow:hidden;
}
#albums{
    width:200px;
    float: left;
    height: 100%;
    overflow: auto;
}
#inner{
    overflow:hidden;
    height: 100%;
}
#head{
    text-align: center;
    font-size: 2em;
}
#songs{
    height: 100%;
    overflow:auto;
}
#footer{
    margin-bottom:-100px; 
    width:100%;
    height:100px;
    background:blue;
}
div{
    border:1px solid black;
}
.song{
    height: 100px;
}
.img{
    width:100%;
}