#content{
    overflow:hidden;
}
#albums{
    width:100px;
    float: left;
}
#inner{
    overflow:hidden;
}
footer{
    width:100%;
    height:20px;
}
div{
    border:1px solid black;
    height:100px;
}